<div id="main_image_2_1"><%= image_tag "image_03.png"%></div>
<div id="main_text_2_1">
  <span class="part_1">
    서비스 설명02-스마트폰 화면<br>
    실제 스마트폰 세부 화면을 보여주기는 어려우므로,
    제공하는 서비스가 진행되는 방식의 설명에 중점
  </span><br>
  <span class="part_2_kr">
    ->도움이 필요한 사람이 심부름  사람을 구하고
    능력이 되는 사람이 심부름을 해주고 보상을 받는다.
  </span>
</div>