<div id="main_image_1"><%= image_tag "image_01.png"%></div>
<div id="main_text_1">
  <span class="part_1">누군가의 도움이 필요한 일이 있으신가요?</span><br>
  <span class="part_2">Triple R</span>
  <span class="part_1">이 도와드립니다!</span>
</div>
<div id="main_image_2"><%= image_tag "image_02.png"%></div>
<div id="main_text_2">
  <span class="part_1">지금 당신이 필요로 하는 사람은?</span>
  <span class="part_2"> Right Person</span>
  <br>
  <span class="part_1">당신이 원한다면 언제나!</span>
  <span class="part_2">Right now</span>
  <br>
  <span class="part_1">당신이 원하는 곳~~</span>
  <span class="part_2">Right place</span>
  <br>
  <span class="part_1">그리고 당신이 생각하는 가치는?</span>
  <span class="part_2">+Right money</span>
</div>