// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#title_image {
  position: absolute;
  padding-top: 50px;
  left: 10%;
  width: 356px;
  margin-left: 119px;
}
div#main_image {
  position: absolute;
  left: 10%;
  margin-left: 119px;

}
div#main_image_1_1 {
  position: absolute;
  margin-left: 0px;
  margin-top: 160px;
}

div#main_image_1_2 {
  position: absolute;
  padding-top: 355px;
  margin-left: 441px;
}

div#main_image_2_1 {
  position: absolute;
  margin-left: 437px;
  margin-top: 160px;
}

.part_1 {
  font-family: 'NanumGothicBold';
  letter-spacing: -40;
  font-stretch: 96%;
  font-size: 20px;
  color:#646464;
  line-height: 28px;
}
.part_2 {
  font-family: 'Lato';
  letter-spacing: -50;
  font-stretch: 100%;
  font-size: 23px;
  color:#49c5cd;
  line-height: 28px;

}
.part_2_kr {
  font-family: 'NanumGothicBold';
  letter-spacing: -40;
  font-stretch: 96%;
  font-size: 20px;
  color:#49c5cd;
  line-height: 28px;
}

div#main_text_1_1 {
  position: absolute;
  margin-left: 251px;
  padding-top: 230px;
  width: 500px;

}
div#main_text_1_2 {
  position: absolute;
  margin-left: 11px;
  padding-top: 400px;
  width: 500px;

}

div#main_text_2_1 {
  position: absolute;
  margin-left: 0px;
  padding-top: 260px;
  width: 400px;
}

div#bottom_image {
  position: absolute;
  left: 10%;
  margin-top: 610px;
  margin-left: 119px;
  background-image: image-url("board_close_bg.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border-style:none;
  width: 662px;
  height: 177px;

  #comment_data {
    position: absolute;
    margin-top: 82px;
    margin-left: 30px;
    width:600px;
    height:40px;
    border-color:#49c5cd;
    border-width:3px;
    border-radius:10px;
    background-color: transparent;
    background-repeat: no-repeat;
    font-size:18px;
  }
  #comment_location {
    position: absolute;
    margin-top: 132px;
    margin-left: 379px;
    border-color:#49c5cd;
    border-width:3px;
    border-radius:10px;
    width: 180px;
    height: 32px;
    color: #49c5cd;

  }
  #submit_button {
    position: absolute;
    margin-top: 132px;
    margin-left: 562px;
    background-image: image-url("board_send_btn.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border-style:none;
    width: 72px;
    height: 32px;
    cursor:hand;
  }
  div#comments {
    position: absolute;
    margin-top: 175px;
    margin-left: 32px;
    #comment_list_box {
      position: relative;

      border: 3px;
      border-color: #49c5cd;
      width: 700px;

      #comment {
        position: relative;
        margin-top: 20px;
        width: 600px;
        height: 40px;
        border-color: #49c5cd;
        border-width: 3px;
        border-radius: 10px;
        background-color: #ffffff;
        font-size: 14px;
        letter-spacing: -35;
        font-stretch: 96%;
        font-family: 'NanumGothicBold';
        color: 646464;
      }
    }
    #under_comment {
      position: relative;
      #location {
        position: absolute;
        margin-top: 5px;
        font-size:14px;
        etter-spacing: -35;
        font-stretch: 96%;
        font-family: 'NanumGothicBold';
        color:646464;
        z-index:7;
      }
      .btn_like {
        position: relative;
        color: #49c5cd;
        margin-top: 5px;
        margin-left: 500px;
        font-size: 14px;
        font-family: 'NanumGothicBold';
        width: 95px;
        background-image: image-url("like_btn.png");
        background-repeat: no-repeat;
        background-color: transparent;
        border-style:none;
        text-align: right;
        cursor:hand;
        z-index: 8;
      }
      #dot_line {
        position: relative;
        margin-top: -100px;
        margin-left: -32px;
        width: 664px;
        height: 120px;
        background-image: image-url("board_dash_high.png");
        background-repeat: no-repeat;
        background-color: transparent;
        border-style:none;
        z-index: 1;
      }
      #last_line {
        position: relative;
        margin-top: -90px;
        margin-left: -32px;
        width: 662px;
        height: 150px;
        background-image: image-url("board_number_bg_high.png");
        background-repeat: no-repeat;
        background-color: transparent;
        border-style:none;

        .pagination {
          margin-top: 110px;
          color: #49c5cd;
          background: relative;
          cursor: default;
        }
        .pagination a, .pagination span, em {
          color: #49c5cd;
          display: block;
          float: left;
          margin-right: 1px;
        }
        .flickr_pagination {
          text-align: center;
          padding: 0.3em;
          cursor: default;
        }
        .flickr_pagination .disabled {
          color: #49c5cd;
        }
        .flickr_pagination .current {
          font-family: 'NanumGothicBold';
          background: #49c5cd;
          width: 30px;
          height: 30px;
          color: white;
        }
        .flickr_pagination a {
          font-family: 'NanumGothicBold';

          color: #49c5cd;
          width: 30px;
          height: 30px;
          border: none;
          text-decoration: none;
        }
        .flickr_pagination a:active {
          border:none;
          background: #49c5cd;
          color: white;
        }

        .flickr_pagination a:hover {
          border:none;
          background: #49c5cd;
          color: white;
        }

        .flickr_pagination a:visited:hover {
          border:none;
          background: #49c5cd;
          color: white;
        }

        .flickr_pagination a:visited {
          border:none;
          background: white;
          color: #49c5cd;
        }
        .flickr_pagination .page_info {
          color: #49c5cd;
          padding-top: 0.8em;
        }
        .flickr_pagination .previous_page, .flickr_pagination .next_page {
          color: #49c5cd;
          border-width: 2px;
        }
        .flickr_pagination .previous_page {
          color: #49c5cd;
          margin-right: 1em;
        }
        .flickr_pagination .next_page {
          color: #49c5cd;
          margin-left: 1em;
        }

      }
      #opinion_image_off {
        background-color: transparent;
        position: relative;
        margin-top: 0px;
        width: 148px;
        height:30px;
        #footer {
          position: absolute;
          min-width: 900px;
          background-image: image-url("footer_bg.png");
          //        margin-top: 856px;
          margin-top: 50px;
          width: 900px;
          left: -20%;
          margin-left: -119px;
          color: #49c5cd;
          font-family: "Lato";
          font-size: 12px;
          letter-spacing: -10;
          font-stretch: 100%;

          div#copyright {

            float: left;
            margin-top: 10px;
            margin-left: 50px;
            font-family: 'Lato';
          }

          ul {
            float: right;
            margin-right: 50px;
            margin-top: 10px;
          }
        }
      }
    }

  }
  #opinion_image_on {
    background-color: transparent;
    position: absolute;
    margin-top: 175px;
    margin-left: 32px;
    width: 148px;
    height:30px;
    #footer {
      position: absolute;
      min-width: 900px;
      background-image: image-url("footer_bg.png");
      //        margin-top: 856px;
      margin-top: 50px;
      left: -20%;
      width: 900px;
      margin-left: -119px;
      color: #49c5cd;
      font-family: "Lato";
      font-size: 12px;
      letter-spacing: -10;
      font-stretch: 100%;

      div#copyright {

        float: left;
        margin-top: 10px;
        margin-left: 50px;
        font-family: 'Lato';
      }

      ul {
        float: right;
        margin-right: 50px;
        margin-top: 10px;
      }
    }
  }
}





