// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#title_image {
  position: absolute;
  padding-top: 50px;
  left: 20%;
  width: 356px;
  margin-left: 119px;
}

div#main_image {
  position: absolute;
  left: 20%;
  margin-left: 119px;
}
div#main_image_1 {
  position: absolute;
  margin-left: 0px;
  margin-top: 160px;
}
div#main_image_2_1 {
  position: absolute;
  margin-left: 437px;
  margin-top: 160px;
}

.part_1 {
  font-family: 'NanumGothicBold';
  letter-spacing: -40;
  font-stretch: 96%;
  font-size: 20px;
  color:#646464;
  line-height: 28px;
}
.part_2 {
  font-family: 'Lato';
  letter-spacing: -50;
  font-stretch: 100%;
  font-size: 23px;
  color:#49c5cd;
  line-height: 28px;

}
.part_2_kr {
  font-family: 'NanumGothicBold';
  letter-spacing: -40;
  font-stretch: 96%;
  font-size: 20px;
  color:#49c5cd;
  line-height: 28px;
}
div#main_text_1 {
  position: absolute;
  margin-left: 251px;
  padding-top: 230px;
  width: 500px;

}
div#main_text_2 {
  position: absolute;
  margin-left: 11px;
  padding-top: 400px;
  width: 500px;

}

div#main_text_2_1 {
  position: absolute;
  margin-left: 0px;
  padding-top: 260px;
  width: 400px;
}

div#main_image_2 {
  position: absolute;
  padding-top: 355px;
  margin-left: 441px;
}
div#text_1 {
  position: absolute;
  padding-top: 112px;
  margin-left: 343px;
  //font size
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

div#text_2 {
  position: absolute;
  padding-top: 270px;
  margin-left: 218px;
  //font size
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

div#bottom_image {
  position: absolute;
  padding-top: 610px;
  left: 20%;
  margin-left: 119px;
}

div#send {
  position: absolute;
  padding-top: 623px;
  left: 50%;
  width: 520px;
  margin-left: -260px;
}

div#text_3 {
  position: absolute;
  //font size
  font-size: 19px;
  line-height: 22px;
  padding-left: 80px;
}

div #send_box {
  position: absolute;
  padding-top: 62px;
}

div #text_box {
  position: absolute;
  position: relative;
  border-color:#323232;
  border-width:3px;
  border-radius:10px;
  height:43px;
  width:418px;
  background-color: transparent;
  background-repeat: no-repeat;
  font-size:18px;
  z-index:100;
}

div #submit_button {
  background-image: image-url("board_send_btn.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border-style:none;
  height:45px;
  width:90px;
  cursor:hand;
}

div#put_facebook {
  padding-top: 770px;
  position: absolute;
  left: 50%;
  width: 700px;
  margin-left: -350px;
}

div #input_form {
  position: absolute;
}
div #comments {
  position: absolute;
}

input #comment_data {
  width: 100px;
}